body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./93d4c4532340deb66bad27f7bc782461.jpg");
    background-repeat: repeat;
}

#welcome-title {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
}

#game-intro {
    text-align: center;
    width: 500px;
    padding: 5px;
    margin-top: 100px;
}

#game-screen {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#startGameButton {
    font-size: 26px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 100px;

}

#game-screen-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#bankroll {
    padding: 50px;
    font-size: 24px;
    width: 150px;
}


#game-title {
    font-size: 50px;
    align-self: center;
}

#player-point {
    font-size: 24px;
    padding: 50px;
    width: 150px;
}

#player-point-number {
    display: inline;
    width: 40px;
}

#game-screen-board {
    display: flex;
    justify-content: center;
    align-items: center;

}

#game-screen-board-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 900px;
    align-items: center;
}

#game-board-title {
    align-self: top;
    height: 50px;
    color: white;
    font-size: 32px;
}

#dice-images {
    display: flex;
    margin-top: 200px;

}

#dice1 img {
    width: 200px;
    height: 200px;
    margin-right: 100px;
}

#dice2 img {
    width: 200px;
    height: 200px;
}

#game-screen-title {
    display: flex;
    flex-direction: row;
}



#game-screen-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#bet-adjustor {
    width: 305px;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    justify-content: center;
}

#bet-decrementer-button {
    font-size: 32px;
    margin: 0 20px;
}

#bet-incrementer-button {
    font-size: 32px;
    margin: 0 20px;
}

#roll-dice-button {
    font-size: 32px;
}


#reset-game-button {
    font-size: 32px;
    width: 305px;
}